.jumbotron-fluid {
    background: linear-gradient(0.25turn, #FB9ED5, #FFFFFF, #D5E2D3);
    padding-left: 6em;
    padding-right: 6em;
    font-family: "Montserrat";
    height: 100%;
}

h1 {
    padding-top: 6rem;
    color: #0F320C;
}

.mission {
    width: 80%;
    font-size: 1rem;
}

.btn {
    font-family: "Montserrat", sans-serif;
    background-color:#F57FC4;
    box-shadow: 3px 6px #0F320C;
    margin: 2rem;
    margin-bottom: 6rem;
}

.btn:hover {
    background-color: #233F14;
    color: white;
    box-shadow: 3px 6px;
}

@media only screen and (max-width: 450px) {
    .mission {
        font-size: 0.7rem;
        width: 100%;
        line-height: 1.3;
    }

    h1 {
        font-size: 1.4rem;
        padding-top: 3rem;
    }

    .btn {
        font-size: 0.6rem;
    }
}


